<div id ="maincontent">
                <div class="col3" style="border:1px solid">
    <img src="images/shortstories/a_ruskin.jpg" width="100%" height="300px"></div>
                <div class="col3" style="border:1px solid">
    <img src="images/shortstories/k_khushwanth.jpg" width="100%" height="300px"></div>
                    
   
                <div class="col3" style="border:1px solid">
    <img src="images/shortstories/j_badluck.jpg" width="100%" height="300px"></div>
                    

                <div class="col33" style="border:1px solid">
    <img src="images/shortstories/f_indianmasters.jpg" width="100%" height="300px"></div>

</div>
