<div id="login" class="col12">
            <center>
            <form id="login_form" ng-submit="login()">
                <label for="uname"><b>Username</b></label><input type="text" name="uname" ng-model="formData.uname">
                <label for="uname"><b>Password</b></label> <span><input type="password" name = "pwd" ng-model="formData.pwd"></span>
               <input type ="submit" value="Login" id="readMore">
                <span><b>New user? </b></span><span><a ui-sref="signup" id="signup"> Signup </a></span>
            </form>
            </center>    
            </div><br><br>
            <hr>