<div class="col12">
<h2>How it works?</h2>
<ol class="details">
    <li> Sign up with We Love Books by filling out our registration form here.<span><a ui-sref="signup" id="signup"> Signup </a></span></li>
    <li>Login with your username and password.</li>
    <li> Select the book you would love to read.</li>
    <li>Take one book at a time and pay the price of the book as a caution deposit.</li>
    <li> Books are delivered to your doorstep and will reach you within 3-4 working days. Keep in mind that you will receive books according to their availability.</li>
    <li>You are charged 1Re/day.</li>
    <li>When you have finished reading the books you borrowed, simply click the Return button in your My Account page and we will send someone to pick the books at the earliest.</li>
    <li>Keep the books for as long as you want. Read at your leisure, but do remember that in order to get the best value for your money, you should return your books in a timely fashion.</li>
    <li>We are sure you love books as much as we do and will handle them with care!</li>
    </ol> </div>